@mixin border-radius($radius){
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}

@mixin grid($columns, $justify: 'center', $align: 'center', $gap: '2em'){
  .grid-#{$columns}{
    display: grid;
    grid-template-columns: repeat(#{$columns}, 1fr);
    justify-content: $justify;
    align-items: $align;
    grid-gap: $gap;
  }
}